/tarea3_pelota/nbproject/private/
/tarea3_pelota/build/
/practica3_agencia_de_viajes/nbproject/private/
/testing/nbproject/private/
/Main/nbproject/private/
/Main/build/
/Examen 3/build/
/Examen 3/nbproject/private/
/Examen pt3/nbproject/private/
/rohot_industrial_er/nbproject/private/
/practica5_ciclos/nbproject/private/
/practica5_ciclos/build/
/practica5_ciclos_1.1/nbproject/private/
/practica5_ciclos_1.1/build/
/practica5_1.2/nbproject/private/
/practica5_1.2/build/
/tarea4_ciclos/nbproject/private/
/tarea4_ciclos/build/
/ISCI_hola_mundo/nbproject/private/
/ISCI_hola_mundo/build/
